* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}


body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;


}

.wrapper {
    background-color: #9FC3D5;
    height: auto;
}


.main_photo {
    width: 350px;
    height: 550px;
    margin-top: 60px;
    margin-left: 60px;
}

.main_photo__info__line {
    position: absolute;
    width: 350px;
    height: 40px;
    background: rgb(0, 0, 0);
    margin-top: 0px;
    margin-left: 60px;
}

.header__textUpper {
    position: absolute;
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 36px;
    margin-top: 530px;
    margin-left: 450px;
}

.header__textLower {
    position: absolute;
    font-family: 'Poppins';
    font-size: 28px;
    margin-top: 580px;
    margin-left: 450px;
}

.header__textInfo {
    position: absolute;
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 28px;
    margin-top: 60px;
    margin-left: 450px;
}

.text__info__line {
    width: 400px;
    height: 4px;
    background: rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 12px;
}

.info_text {
    line-height: 40px;
    font-size: 22px;
    margin-top: 130px;
    margin-left: 40px;
}

.header__row {
    display: flex;
    margin-bottom: 15px;
}


.maininfo__row {
    margin-top: 30px;
    display: flex;

}

.contact__info {
    margin-top: 30px;
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 28px;
    margin-left: 60px;
}

.contact__info__line {
    margin-left: 60px;
    width: 350px;
    height: 4px;
    margin-top: 10px;
    background: rgb(0, 0, 0);
}

.leftpart__row {

    padding-top: 30px;
    display: flex;
    width: 400px;
}

.images__maininfo {
    margin-left: 60px;
}

#first {
    margin-top: 10px;
    margin-bottom: 50px;
}

#second {
    margin-bottom: 30px;
    margin-left: 5px;
}

#third {
    margin-bottom: 40px;
}

.text__maininfo {

    font-family: 'Poppins';
    font-size: 24px;
    margin-left: 15px;

}


.adress {
    margin-bottom: 50px;
}

.phone {
    margin-bottom: 60px;
}

.email {
    margin-bottom: 50px;

}

.rightpart {
    margin-left: 50px;
    margin-top: 0px;
}



.leftpart__row2 {

    width: 400px;
    margin-left: 70px;

}

.line1 {
    position: absolute;
    margin-left: -40px;
    margin-top: 75px;
}

.title {

    font-family: 'Poppins';
    font-size: 28px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
}

.educational__info__line {
    width: 400px;
    height: 4px;
    background: rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 10px;
}

.subtitle {
    margin-bottom: 16px;
    font-family: 'Poppins';
    font-size: 28px;
    font-weight: bold;

}

.text {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;

}

.text2 {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 75px;

}

.text3 {
    font-size: 20px;
}

.hardskills_row {
    display: flex;

}

.softskills_row {
    line-height: 28px;
    display: flex;

}

.icons__hardskills {
    margin-left: 50px;
    margin-top: 10px;
}

.icons__softskills {
    margin-left: 50px;
    margin-top: 10px;
}


.languages_row {
    line-height: 38px;
    display: flex;
}


#ukr {
    margin-top: 10px;
    margin-left: 70px;
}

#rus {
    margin-top: 15px;
    margin-left: 70px;
}

#eng {
    margin-top: 15px;
    margin-left: 70px;
}

.tg_img {
    margin-top: -40px;
    margin-left: -60px;
}
